
<div class ="nav home" class="slide">
  <div>
    <ul class="list-inline">
      <li><a href="#" id="logo"><img src="./mainImg/logo.png" alt="Logo text goes here" width="157px" height="104px"><h1>Trailr</h1></a></li>
    	<li><button class="btn" ng-click="signIn()">Sign In</button></li>  
    </ul>
  </div>
  <div>
    <form name="queryForm" novalidate class="css-form" ng-submit="nav.showList(nav.location, nav.queryForm.$valid)">
    <p>1. Pick a state</p>
    State: <input type="text" ng-model="nav.location.state" required /><br />
    <p>2. Pick a city</p>
    City: <input type="text" ng-model="nav.location.city" required /><br />
    <input type="submit" value="GO!" />
  </form>
  </div>
</div>	

<!--ng-submit="ctrl.createBoard(ctrl.newBoard, ctrl.createForm.$valid)" -->