<div class="bg_container profile_slides">
  <ul>
    <li class="slide" ng-repeat="slide in profile.slides.data">
      <img src="{{slide.image.low_res.url}}">
    </li>
  </ul>
</div>
<div class="profile">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{profile.data.name}}</h2>
        <div class="trail_rating">{{profile.data.rating}} stars</div>
        <div class="trail_length">{{profile.data.length}} miles</div>
        <button type="button" name="favorite_button" class="btn btn-primary btn-lg active" ng-click="profile.addFav()">add to favorite</button>
      </div>
      <div class="col-md-12">
        <p>{{profile.data.description}}</p>
      </div>
    </div>
  </div>
</div>
  
      <!-- <div class="trail_directions">"{{profile.data.directions}}"</div> -->
