//import our main bootstrap file
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "partials/bkgd";
@import "partials/nav";
@import "partials/introForm";
@import "partials/trailList";
@import "partials/comments"; 
@import "partials/trailProfile";

.input_search_box {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fefcf6;
  color: #3e3007;
}
h1,h2,h3{
  font-family: 'Permanent Marker', cursive;
}
h1 {
    color: white;
    margin-bottom: 60px;
  	font-size: 3.5rem;
}

h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 3.2em;
}
.loader{
  background: transparent url('../img/ripple.gif') no-repeat;
  background-position: center center;
  display: block;
  min-height: 200px;
  min-width: 100%;
  }
