<div class="container">
  
    <div class="col-md-12">
      <div class="comments">
       <div class="row">
        <div class="col-md-6 commentList">
          <h3>User Comments:</h3>
         <!-- <hr> -->
          <div class="single-comment" ng-repeat="comment in comments.data | filter:query | orderBy: 'created_at':true">
            <img src="{{ comment.imageUrl }} " alt="user image" height="110" width="110">
            
            <p><h4>{{ comment.full_name }} says,</h4></br> {{ comment.comment }}</p>
          </div>
        </div>  
        <div class="col-md-6 commentForm" ng-if="comments.user">
          <form name="commentForm" ng-submit="comments.update(comments.text, comments.commentForm.$valid)" novalidate>
            <p>Howdy, (placeholder: user name) how's the trail?</p>
            <textarea class="comment-text textarea" rows="4" cols="50" ng-model="comments.text" required /></textarea><br />
            <input type="submit" value="Save" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>