<div class="comment">
  <div class="commentList">
    <div ng-animate="'animate'" ng-repeat="comment in comments.data">
      <h3>User Comments:</h3>
      <p>User: {{ comment.user }}</p>
      <p>comments: {{ comment.comment }}</p>
    </div>
  </div>  

  <div class="commentForm" ng-if="comments.user">
    <form name="commentForm" ng-submit="comments.update(comments.text, comments.commentForm.$valid)" novalidate>
      <p>Hi, (placeholder: user name) let us know your comment</p>
      <textarea rows="4" cols="50" ng-model="comments.text" required /></textarea><br />
      <input type="submit" value="Save" />
    </form>
  </div>
</div>
