 <div class="intro" ng-if="!intro.showList">
    <form name="queryForm" novalidate class="css-form" ng-submit="intro.getList(intro.location, intro.queryForm.$valid)">
      <p>1. Pick a state</p>
      State: <input type="text" ng-model="intro.location.state" required /><br />
      <p>2. Pick a city</p>
      City: <input type="text" ng-model="intro.location.city" required /><br />
      <input type="submit" value="GO!" />
    </form>
  </div>  

<div class="trailsListContainer" ng-if="intro.showList">
  <h1>Trails in {{intro.city}}, {{intro.state}}</h1>
  <div ng-repeat="trail in intro.data" class="trailsListTrailWrap">
    <div class="trailsListTitle">{{trail.name}}</div>
      <!--
      <img class="trailsListImg" src={{trail.url}}></img>
      -->
      <p>{{trail.description}}</p>
      <div class="trailsListRating">"{{trail.rating}}"</div>
      <button
        ui-sref="trail.detail({trail.unique_id})"
        class="btn trailsListBtn"
        ng-click="intro.getTrail(trail.unique_id)">
        Find out more >>
      </button>
  </div>
</div>

<!-- ng-show="trail.page < trail.pages" -->