extends layout

block content
  header.main_header
    .nav-wrapper
    .nav-top(ng-controller="topNav as nav")

      ul(class="list-inline")
        li(a href="#" id="logo"): img(src="./mainImg/logo.png" alt="Logo text goes here" width="110px" height="110px")/ 
        li: button(class="btn .right" ng-click="nav.signIn()" ng-if="!nav.signInToggle") Sign In
        li: button(class="btn .right" ng-click="nav.myFav()" ng-if="nav.signInToggle") My Favorites
        li: button(class="btn .right" ng-click="nav.signOut()" ng-if="nav.signInToggle") Sign Out


  .intro(ui-view="intro") 
  .trails(ui-view="trailsList")
  .trailProfile(ui-view="trail")
  .trails(ui-view="myFav") 
  .bkgd(ui-view="bkgd") 
  .comment(ui-view="comment")

 

