extends layout

block content
  nav.navbar.navbar-inverse
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href="/#/")
          span
            img(alt="brand" src="img/logo2.png")
          h1 TrailrPark
      div.collapse.navbar-collapse
        ul.nav.navbar-nav
          li(ng-if="!nav.signInToggle")
            a(ng-click="nav.signIn()") Sign In
          li(ng-if="nav.signInToggle")
            a(ng-click="nav.signOut()") Sign Out
        p.navbar-text(ng-if="nav.signInToggle") Signed in as [Username]
    
  .intro(ui-view="intro") 
  .bkgd(ui-view="bkgd")
  .trails(ui-view="trailsList")
  .trailProfile(ui-view="trail")
  .comment(ui-view="comment")

 

