extends layout

block content
  header.main_header
   .nav(ui-view="nav")
  .topNav(ui-view="topNav") 
  .trails(ui-view="trailsList")
  .trailProfile(ui-view="profile")
  .comment(ui-view="comment")

 

