doctype html
html(ng-app='trailApp')
  head
    title= "TrailRPark"
    link(rel="stylesheet", href='./styles/main.css')

  body
    block content

    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js")
    script(src="./bower_components/angular-ui-router/release/angular-ui-router.js")
    script(src="./app/myApp.js")
    script(src="./app/nav/nav.js")
    script(src="./app/trailsList/trailsList.js")