doctype html
html(ng-app='sampleApp')
  head
    title= "TrailRPark"
    link(rel="stylesheet", href='../client/styles/styles.css')

  body(ng-controller="SampleController")
    block content
    script(src='path/to/angular')