doctype html
html(ng-app='trailApp')
  head
    title= "TrailRPark"
    link(rel="stylesheet", href='./styles/main.css')
    link(href='https://fonts.googleapis.com/css?family=Permanent+Marker', rel='stylesheet', type='text/css')
    
  body
    block content

    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js")
    script(src="./scripts/scripts.js")
    script(src="http://rawgit.com/angular-ui/angular-google-maps/2.1.5/dist/angular-google-maps.min.js")   
    script(src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js")
    script(src="./scripts/app.js")

