.comment {
  // position: fixed;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  background: #eee;
  .container{
    background: #fff;
  }
  .commentList {
    padding: 0 0 0 40px;

    .single-comment {
      background-color: #F5F5F5;
      margin: 20px 0 0 20px;
      padding: 10px;
      border-radius: 20px;
      @extend .clearfix;
    
      img {
        float: left;
        border-radius: 50%;
      }

      p {
        h4 {
          margin: 20px 0 0 130px;
        }
        padding-left: 20px;
        float: left;
      }
    }
    
  }
  .commentForm {
    padding: 65px 40px 0 20px;
    .comment-text {
      border-radius: 20px;
      background-color: #F5F5F5;
      padding: 20px;
      border: none;
      outline: none; 

    }
  }
}

.favoriteButton {
	border-radius: 10px;
}