.comment {
  // position: fixed;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  background: #eee;
  .container{
    background: #fff;
  }
}

.favoriteButton {
	border-radius: 10px;
}