.homeBG {
	height: 100vh;
	background-color: beige;
}

.overlayHome {
		background-size: contain;
		background-image: url(../img/pattern-overlay.png);
		background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height:120%;
}


/* Move down content because we have a fixed navbar that is 50px tall */

#indexvideo {
    min-height:100%;
    background: #000;
    min-width: 100%;
    position: absolute;
    top: 5px;
    left: 0;
    overflow: hidden;
		z-index: -100
}