.city_state_form, .loader-wrapper {
  background: rgba(0, 0, 0, 0.8);
  padding: 5px 40px 40px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 150px auto 0;
  width:50%;
  z-index: 10;
  h2{text-align: center;}
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

  .input_search_box input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .input_search_box input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
