.city_state_form, .loader-wrapper {
  background: rgba(0, 0, 0, 0.8);
  padding: 5px 40px 40px;
  position: relative;
  width:50%;
  z-index: 10;
  h2{text-align: center;}
}


@mixin vertical-align($position: absolute) {
	right: 0;
	left: 0;
	margin: auto;
  position: $position;
  top: 60%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.city_state_form  {
  @include vertical-align();
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

  .input_search_box input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .input_search_box input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
