.trailsListContainer{
  position: absolute;
  z-index: 20;
  padding-right: 100px;
}
.results-title{
  color: #0056E0;
  margin-top:85px;
}
.trails{
  width: 80%;
  margin: 0 auto;
}
.trail {
  color: #fff;
  font-size: 1.25em;
  background: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-bottom: 1px solid #aaa;
  button{
    margin-top: 50px;
  }
}
.starTrail {
  height: 200px;
  width: 200px;
  background: red;
  z-index: 100; 
}