.city_state_form {
  color: white;
  text-align: left;
  padding: 3% 24%;
  border-top: 10px solid #eebf90;
  margin: 55px 0 60px;
  background: #bfee90;
  background-size: cover;
  box-shadow: inset 0 0 50px 10px rgba(0,0,0, .5);
  border-radius: 10px;
  z-index: 10000;
  position:absolute;
  top: 25%;
  left: 25%;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

  .city_state_form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
