.trail {
  background: #f7fdf7;
  width: 60%;
  min-width: 500px;
  margin: 30px auto 0;
  border-top: 20px solid #186218;
  border-radius: 10px;
  text-align: left; }
  .list .item {
    border-bottom: 2px solid #edeff0;
    padding: 17px 0 18px 17px; }